

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <span class="material-icons me-1">home</span>
        R & S
         </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Inquilinos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/inquilinos">Todos los inquilinos</a>
              <a class="dropdown-item" href="/inquilinos/add">Añadir inquilinos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">Salir</a>
            </ul>
          </li>
           <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Visitantes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/visitantes">Todos los visitantes</a>
              <a class="dropdown-item" href="/visitantes/add">Añadir visitante</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">Salir</a>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              Trabajadores
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/trabajadores">Todos los trabajadores</a>
              <a class="dropdown-item" href="/trabajadores/add">Añadir trabajador</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">Salir</a>
            </ul>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Entrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Registrarse</a>
          </li>
        {{/if}}
          <li class="nav-item">
            <a class="nav-link" href="/about">
                <span class="material-icons me-1">info</span>
                About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">
                <span class="material-icons me-1">email</span>
                Contact
            </a>
          </li>
      </ul>
     
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
  
    