    <!-- Main content
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/logo.png" alt="Website Logo" class="w-25 m-auto animated bounceIn">
            <h1 class="display-1 my-5 text-uppercase fw-bold">R & S</h1>
        <a href="/about" class="btn btn-primary w-25">About Us</a>
      </div>
    </header> -->
     <!-- section one 
     <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
          <div class="col-md-4 offset-md-4">
             <h1>Hello Wordl!</h1>
           </div>
        </div>
      </div>
      -->

