<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">Nuevo visitante</h3>
    </div>
    <div class="card-body text-right">
      <form action="/visitantes/new-visitante" method="POST">
        <div class="mb-3">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            name="nombre"
            class="form-control"
            placeholder="Nombre Completo"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="curp">Curp:</label>
          <input
            type="text"
            name="curp"
            class="form-control"
            placeholder="Curp"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="telefono">No. Teléfono:</label>
          <input
            type="text"
            name="telefono"
            class="form-control"
            placeholder="No. Teléfono"
          autofocus
          />
        </div>
        <div class="mb-3">
          <label for="correo">Correo:</label>
          <textarea
            name="correo"
            class="form-control"
            placeholder="Correo"
          ></textarea>
        <div class="mb-3">
          <label for="nombreInquilino">Nombre de Inquilino:</label>
          <input
            type="text"
            name="nombreInquilino"
            class="form-control"
            placeholder="Nombre de Inquilino"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="parentesco">Parentesco:</label>
          <input
            type="text"
            name="parentesco"
            class="form-control"
            placeholder="Parentesco"
            autofocus
          />
        </div>
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>